html {
    height: 100%;
}
body, html {
    font-size: 12px; /*h6 small*/
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
}
body {
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
    overflow: auto;
}

.text-header-color {
    color: #00BCD4;
}
.text-justify {
    text-align: justify;
}
.bg-skill-color {
    background-color: #00BCD4;
}

.header > .row > div {
    background-color:#374457;
    padding: 48px 48px 0 48px;
}
.sub-header > .row > div {
    background-color: #29343d;
}
.sub-header span {
    margin: 0 1rem;
}
.sub-header span > i {
    vertical-align: middle;
}
.sub-header span > small {
    margin-left: .25rem;
}

hr.line-break {
    border: 1px solid black;    
    position: absolute;
    margin: unset;
    top: 1056px;
    width: 100%;
}